@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: auto;
}

body {
    background-color: #d8dbff;
}

nav {
    margin-top: 60px;
}

.nav_ota {
    display: flex;
    margin-top: 5px;
}

.list_item {
    display: flex;
    gap: 60px;
}

.iconlar {
    margin-left: 60px;
}

.button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
    border: none;
    padding: 14px 28px;
}

.katta_soz {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 78px;
    text-transform: capitalize;
    color: #363853;
}

span {
    color: #FF7A50;
}



.kop_soz {
    width: 500px;
    /* border: 2px solid red; */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #363853;
    margin-top: 15px;
    margin-left: 30px;
}

.button_2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
    border: none;
    padding: 12px 21px;
}

.btn_app {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    gap: 30px;
}

.btn_oldi {
    margin-top: 10px;
    text-decoration: underline;
}

.sozlar_div {
    margin-top: 220px;
    margin-left: 80px;
}

.brat {
    width: 100%;
    margin-top: 120px;
    margin-left: -20px;
}



.catigory {
    margin-left: 260px;
    margin-top: 90px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-transform: capitalize;
    color: #363853;
}

.divlar_ota {
    display: flex;
    width: 1120px;
    margin-left: 100px;
    gap: 26px;
}

.ramka_uchun {
    display: flex;
    width: 220px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.174);
    border-radius: 8px;
    padding: 18px;
}

.ramka_uchun:hover {
    background: #FF7A50;
    color: #ffffff;
}

.masaliq {
    width: 44px;
}

/* .masaliq:hover {
    color: #ffffff;
} */

.masaliq_nomi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #363853;
    margin-left: 10px;
    margin-top: 12px;
}

/* .masaliq_nomi:hover {
    color: #ffffff;
} */

.ramka_uchun_b {
    display: flex;
    width: 220px;
    border: 2px solid #FF7A50;
    background: #FF7A50;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    padding: 10px;
}

.masaliq_nomi_b {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 18px;
}

.w {
    height: 45px;
    margin-top: 5px;
}

.burger_rasm {
    width: 150px;
    margin-left: 15px;
}

.yulduzlar {
    /* width: 150px; */
    margin-left: 15px;
    margin-top: -16px;
}

.malumot {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #363853;
}

.narx {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    color: #363853;
}

.button_3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #FF7A50;
    border-radius: 2px;
    border: none;
    padding: 7px 13px;
    margin-bottom: 15px;
}

.card_ota {
    display: flex;
    /* width: 1020px; */
    gap: 30px;
    margin-left: 100px;
    margin-top: 30px;
}

.cardlar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    border-radius: 8px;
}

.p {
    width: 150px;
    margin-left: 15px;
    margin-top: 2px;
}

.k {
    /* width: 150px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.yetgazib_berdi {
    margin-top: 160px;
    margin-left: 80px;
}

.katta_soz_2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-transform: capitalize;
    color: #363853;
    margin-bottom: 30px;
}

.malumotlar_2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #363853;
    opacity: 0.9;
    margin-bottom: 30px;
}

.soat {
    width: 40px;
    height: 40px;
}

.iconni_sozi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #363853;
    margin-left: 25px;
    margin-top: 5px;

}

.icon_sozlar_div {
    margin-bottom: 30px;
}

.icon_sozlar {
    /* border: 2px solid red; */
    display: flex;

}

.yetgazdini_sozlari {
    /* border: 2px solid #FF7A50; */
    text-align: start;
    margin-top: 270px;
    margin-left: 140px;
}

.border_ucun {
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 30px 30px 1px 30px;
    width: 178px;
    padding: 20px 44px 5px;

}

.see_more {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

footer {
    margin-top: 100px;
}

.card_sarlavha {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    text-transform: capitalize;
    color: #363853;
    margin-left: 300px;
}

.cardlar_2 {
    width: 360px;
    background: #FFFFFF;
    border-radius: 53px 5px;
}

.soat_strelka {
    display: flex;
    margin-left: 18px;
    margin-top: 5px;

}

.timer {
    width: 22px;
    height: 22px;
    margin-top: 5px;

}

.vaqt {
    margin-top: 5px;
    margin-left: 9px;
    margin-right: 30px;
}

.strelka {
    width: 79px;
    height: 33px;
    background: #FF7A50;
    box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.19);
    border-radius: 20px 20px 0px 20px;
}

.card_soz {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #363853;
    margin-right: 190px;
    margin-top: 10px;
}

.cardlarni_otasi {
    display: flex;
    gap: 45px;
    margin-left: 100px;
    margin-top: 50px;
}

.card_rasm {
    width: 360px;
}

.sarlavha_3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-transform: capitalize;
    color: #363853;
    margin-bottom: 30px;
    margin-top: 150px;

}

.sarlavha_3_text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #363853;
    opacity: 0.9;
    margin-bottom: 30px;
}

.ilovalar_div {
    display: flex;
    gap: 35px;
}

.kichik_gaplar {
    text-align: start;
    margin-top: 120px;
}

.section {
    margin-top: 160px;
    margin-left: 220px;
}

.kop_soz_2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 0.5px;
    color: #363853;
    text-align: start;
    margin-top: 60px;
}

.Anglina {
    margin-left: -110px;
}

.Anglina_sozi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FF7A50;
    text-align: start;
}

.kickiniina_soz {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #AAAAAA;
    text-align: start;
    margin-top: 25px;
}

.olovrang_quti {
    background: #FF7A50;
    border: 2px solid #FF7A50;
    border-radius: 20px;
    margin-top: 100px;
}

.text_6 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 15px;
}

.text_10 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 15px;
}

.oq_quti {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    border-radius: 70px;
    width: 830px;
    margin-left: 120px;
    margin-bottom: 50px;
    display: flex;
    gap: 400px;
    justify-content: space-around;
    align-items: center;
}

.text_4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #363853;
    opacity: 0.9;
    margin: 16px 0px;
}

.Subscribe {
    background: #FF7A50;
    border-radius: 70px;
    border: none;
    padding: 10px;
    width: 160px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.samoliyot {
    margin-right: 10px;
}

.iconlar_uchun_div_2 {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.icon_4 {
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

.oxirgi_qator {
    margin-top: 80px;
    margin-left: 230px;
    width: 1200px;
    margin-left: 250px;
    border: 1px solid #FFFFFF;
}

.birinchi_qator {
    text-align: start;
}

.logo_2 {
    margin-bottom: 25px;
}

.i {
    gap: 15px;
}

.t {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #37383D;
}

.ikkinchi_qator {
    text-align: start;
    margin-top: -10px;
    /* margin-left: 60px; */
}

.textlar_1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #37383D;
}

.m {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #37383D;
}

.tortta_qattor {
    display: flex;
    gap: 40px;
    margin-left: 80px;
}

.oxirgi_div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.oxirgi_ucta_soz {
    display: flex;
    gap: 50px;
}

.ciqan_yil {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #646464;
}

.sozcalar {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #646464;
}